{% extends 'layout.html' %}

{% block content %}
<h5 class="display-5">Today services</h5>

<table class="table">
    <thead>
        <tr>
            <th>Service Id</th>
            <th>Customer Name</th>
            <th>Contact Phone</th>
            <th>Location(with pin code)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for service_request in service_requests %}
            {% if service_request.status in ['requested', 'assigned'] %}
        <tr>
            <td>
                {{service_request.id}}
            </td>
            <td>
                {% for user_ in users %}
                    {% if user_.id==service_request.customer_id %}
                        {{user_.name}}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for user_ in users %}
                    {% if user_.id==service_request.customer_id %}
                        {{user_.phone}}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for user_ in users %}
                    {% if user_.id==service_request.customer_id %}
                        {{user_.address}} ({{user_.pincode}})
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if service_request.status == 'assigned' %}
                    <span style="color: limegreen;">Accepted</span>
                    <a href="{{url_for('mark_as_done', id=service_request.id)}}" class="btn btn-outline-success">
                        Mark as Done
                    </a>
                {% else %}
                <a href="{{url_for('accept_request', id=service_request.id)}}" class="btn btn-outline-success">
                    <i class="fas fa-check"></i>
                    Accept
                </a>
                <a href="{{url_for('reject_request', id=service_request.id)}}" class="btn btn-outline-danger">
                    <i class="fas fa-times"></i>
                    Reject
                </a>
                {% endif %}
            </td>
        </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<h6 style="color: darkgreen;">Base Price: &#8377; {% if services %}{{services[0].base_price}}{% endif %}<br>Total for your services: &#8377; {{ total_base_price }}</h6>

<h5 class="display-5 closed">Closed services</h5>

<table class="table">
    <thead>
        <tr>
            <th>Service Id</th>
            <th>Customer Name</th>
            <th>Contact Phone</th>
            <th>Location(with pin code)</th>
            <th>Date</th>
            <th>Remarks</th>
            <th></th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for service_request in service_requests %}
            {% if service_request.status == 'closed' or service_request.status =='rejected' %}
        <tr>
            <td>
                {{service_request.id}}
            </td>
            <td>
                {% for user_ in users %}
                    {% if user_.id==service_request.customer_id %}
                        {{user_.name}}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for user_ in users %}
                    {% if user_.id==service_request.customer_id %}
                        {{user_.phone}}
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% for user_ in users %}
                    {% if user_.id==service_request.customer_id %}
                        {{user_.address}} ({{user_.pincode}})
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {{service_request.date_of_request.strftime('%d/%m/%y')}}
            </td>
            <td>
                {% for review in reviews %}
                    {% if review.service_request_id == service_request.id %}
                        {{review.comments}}
                    {% endif %}
                {% endfor %}
            </td>
            <th>
                {% if service_request.status == 'rejected' %}
                    <span style="color: red;">Rejected</span>
                {% else %}
                    <th class="star-rating">
                        {% for review in reviews %}
                            {% if review.service_request_id == service_request.id %}
                                {% for i in range(5) %}
                                    {% if i < review.rating %}
                                        &#9733;
                                    {% else %}
                                        <span class="unrated">&#9734;</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </th>
                {% endif %}
            </th>
        </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block style %}
<style>
    .star-rating {
        color: #FFD700 !important; /* Yellow color code */
        
      }
      
      .star-rating .unrated {
        color: #ccc !important; /* Gray color code */
      }
      h5.display-5.closed{
        color: red;
      }
</style>
{% endblock %}