{% extends 'layout.html' %}

{% block content %}
<h2 class="display-2">Summary:</h2>
<div style="display: flex; justify-content: space-around;">
    <canvas id="myPieChart" style="width: 400px; height: 400px;"></canvas>
    <canvas id="myBarChart" style="width: 500px; height: 400px;"></canvas>
</div>
  
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<script>
    // Pie Chart
    const pieCtx = document.getElementById('myPieChart');
  
    new Chart(pieCtx, {
      type: 'doughnut',
      data: {
        labels: ['1⭐', '2⭐', '3⭐', '4⭐', '5⭐'],
        datasets: [{
          label: '# of Rating',
          data: {{ratings_size|safe}},
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 205, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)'
          ],
          borderColor: [
            'rgb(255, 99, 132)',
            'rgb(255, 159, 64)',
            'rgb(255, 205, 86)',
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: false,
        plugins: {
          legend: {
            position: 'top'
          },
          title: {
            display: true,
            text: 'Reviews/Ratings'
          }
        }
      }
    });

    // Bar Chart
    const barCtx = document.getElementById('myBarChart');
  
    new Chart(barCtx, {
      type: 'bar',
      data: {
        labels: ['Requested', 'Assigned', 'Closed', 'Rejected'],
        datasets: [{
          label: '# of Requests',
          data: {{service_request_status_sizes|safe}},
          backgroundColor: [
            'rgba(75, 192, 192, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(201, 203, 207, 0.2)'
          ],
          borderColor: [
            'rgb(75, 192, 192)',
            'rgb(54, 162, 235)',
            'rgb(255, 99, 132)',
            'rgb(201, 203, 207)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: false,
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          title: {
            display: true,
            text: 'Service Requests'
          }
        }
      }
    });
</script>
{% endblock %}

{% block style %}
    <style>
        h2.display-2 {
            color: rgb(65, 105, 225);
        }
    </style>
{% endblock %}